{% load static %}

<section>
    <header class="major">
        <h2>Destaques</h2>
    </header>
    <div class="mini-posts"> 
        {% for feature in featured %}
            <article>
                <a href="#" class="image"><img src="{{ feature.image_featured.url }}" alt="" /></a>
                <p>{{ feature.sub_title_featured|safe|slice:150 }}</p>
            </article>
        {% endfor %}
    </div>
    <ul class="actions">
        <li><a href="#" class="button">Mais</a></li>
    </ul>
</section>