{% load static %}

<!-- Banner -->
{% for banners in banner %} 
    <section id="banner">   
        <div class="content">
            <header>
                <h1>{{ banners.title }}</h1>
                <p>{{ banners.sub_title_banner }}</p>
            </header>
            <p>{{ banners.body_banner|safe }}</p>
            <ul class="actions">
                <li><a href="#" class="button big">Ler mais</a></li>
            </ul>
        </div>
        <span class="image object">
            <img src="{{ banners.image_banner.url }}" alt="" />
        </span>
    </section>
{% endfor %}