{% extends 'base.html' %}
{% load static %}
{% block main %}	
		<!-- Main -->
			<div id="main">
				<div class="inner">
					<!-- Header -->
						{% include 'components/_header.html' %}

					<!-- Banner -->
							{% include 'banner.html' %}

					<!--Blog-->
							{% include 'blog/blog.html' %}	
							
							{% include 'components/_pagination.html' %}
				</div>
			</div>

		<!-- Sidebar -->
			<div id="sidebar">
				<div class="inner">
					<!-- Search -->
						{% include 'search.html' %}

					<!-- Menu -->
						{% include 'menu.html' %}	



					<!-- Contact -->
						{% include 'contact.html' %}

					<!-- Footer -->
						{% include 'components/_footer.html' %}
				</div>
			</div>
{% endblock main %}	