{% load static %}

<nav id="menu">
    <header class="major">
        <h2>Menu</h2>
    </header>
    <ul>
        <li><a href="index.html">Home</a></li>
        <li>
            <span class="opener">Categorias</span>
            <ul>
                <li><a href="#">Linguagens</a></li>
                <li><a href="#">FrameWrok</a></li>
                <li><a href="#">Tecnologias</a></li>
                <li><a href="#">Mercado de Trabalho</a></li>
                <li><a href="#">Mundo</a></li>
                <li><a href="#">Hacker</a></li>
            </ul>
        </li>
        <li><a href="#">Sobre</a></li>
    </ul>
</nav>